.welcome {
    background-color: powderblue;
}

.current {
    background-color: palegreen;
    width: 100vw;
}

.searches{
    background-color: rgb(230, 227, 227)
}

.weather {
    border: 1px solid black;
}

#clear {
    margin: 5px;
}

#city {
    margin-top: 3 0 auto;
    margin-bottom: 3 0 auto;
}

.past-city {
    display: flex;
    margin: 3 0 auto ;
}
.five-day{
    color: rgb(238, 234, 234);
    margin: 0 5px;
}
/* the search button under the text input */
#search{
 margin-top: 5px;   
}
