.welcome {
    background-color: powderblue;
}

.current {
    background-color: palegreen;
    width: 100vw;
}

.searches{
    background-color: rgb(230, 227, 227)
}

.main {
    background-color: peru;
}

.weather {
    border: 1px solid black;
}

#clear {
    margin: ;
}

#city {
    margin-top: 3 0 auto;
    margin-bottom: 3 0 auto;
}

.past-city {
    display: flex;
    margin: 3 0 auto ;
}
